{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "browser": true,
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "semi": 0,
    "linebreak-style": 0,
    "func-names": "off",
    "space-before-function-paren": ["error", "never"],
    "max-len": ["error", 120, 4],
    "no-unused-vars": ["error", {"argsIgnorePattern": "next"}],
    "no-param-reassign": ["error"],
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "react/jsx-uses-react": ["error"],
    "react/jsx-uses-vars": ["error"]
  }
}
