.music
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  &__currentSong
    width: 100%
    display: flex
    align-items: center

    img
      width: 92px
      height: 92px
      margin-right: 12px

  &__artist
    color: rgba(255, 255, 255, 0.65)

  &__lyrics
    flex: 1
    overflow-y: auto
    background: $accent
    padding: .8em
    width: 100%
    font-size: 1.3em
