.news
  width: 90%
  margin: 0 auto
  padding: .4em

  a, a:visited
    color: $link
    text-decoration: none
    transition: color .1s ease

    &:hover
      color: $link-visited

  .article + .article
    border-top: 1px solid $panel-separator
    padding-top: 1em