.news
  width: 90%
  margin: 0 auto
  padding: .4em
  display: flex
  flex-direction: column
  justify-content: center

  a, a:visited
    color: $link
    text-decoration: none
    transition: color .1s ease

    &:hover
      color: $link-visited

  .article
    padding: 1em 0

  .article + .article
    border-top: 1px solid $panel-separator