.weather
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  // justify-content: space-around
  align-content: center
  text-align: center

  &__type
    flex: 1
    display: flex
    justify-content: center
    align-items: center

    i
      font-size: 3em

  &__info
    flex: 1
    display: flex
    align-items: center
    justify-content: space-around

    background: $accent

  &__data
    width: 100%
    display: flex
    justify-content: space-around
    align-content: center

    div
      text-align: center
      .wi
        font-size: 2em