@import url('https://fonts.googleapis.com/css?family=Questrial|Roboto')

$header-font: 'Questrial', sans-serif
$body-font: 'Roboto', sans-serif

$main: #16425B
$secondary: #2F6690
$accent: rgba(255, 255, 255, 0.06)

$background-gradient: linear-gradient(318deg, $main, $secondary)

$gap: 2em

$panel-bg: #3A7CA5
$panel-separator: rgba(255, 255, 255, 0.1)

$link: #81C3D7
$link-visited: #16425B
